<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="spring">
      <section name="context" type="Spring.Context.Support.ContextHandler, Spring.Core" />
      <section name="parsers" type="Spring.Context.Support.NamespaceParsersSectionHandler, Spring.Core" />
    </sectionGroup>
    <sectionGroup name="common">
      <section name="logging" type="Common.Logging.ConfigurationSectionHandler, Common.Logging" />
    </sectionGroup>
    <section name="sqlCode" type="JobsDBTool.IReadConfig, JobsDBTool" />
    <section name="Cryptography" type="JobsDB.Base.Security.Configuration.CryptographyConfigurationSection, JobsDB.Base" />
  </configSections>
  <connectionStrings>
    <clear />
    <add name="SQLite" connectionString="Data Source=JobsDBTool.sqlite;Version=3;" providerName="System.Data.SQLite" />
  </connectionStrings>
  <system.data>
    <DbProviderFactories>
      <remove invariant="System.Data.SQLite" />
      <add name="SQLite Data Provider" invariant="System.Data.SQLite" description=".Net Framework Data Provider for SQLite" type="System.Data.SQLite.SQLiteFactory, System.Data.SQLite" />
      <!--<remove invariant="System.Data.SQLite.EF6" />
      <add name="SQLite Data Provider (Entity Framework 6)" invariant="System.Data.SQLite.EF6" description=".Net Framework Data Provider for SQLite (Entity Framework 6)" type="System.Data.SQLite.EF6.SQLiteProviderFactory, System.Data.SQLite.EF6" />-->
    </DbProviderFactories>
  </system.data>
  <appSettings>
    <add key="IsDebug" value="true" />
    <add key="IsDefaultLoaded_Common" value="false" />
    <add key="IsDefaultLoaded_AddWordings" value="true" />
    <add key="IsDefaultLoaded_ClassFieldAbbr" value="false" />
    <add key="IsDefaultLoaded_BackupTask" value="true" />
    <add key="IsDefaultLoaded_OperateDB" value="true" />
    <add key="IsDefaultLoaded_SolrUpdate" value="true" />
    <add key="IsDefaultLoaded_SendEmail" value="false" />
    <add key="IsDefaultLoaded_GenAuth" value="false" />
    <add key="SendEmail_To" value="miragelu@seekasia.com;2167162@qq.com" />
    <add key="EmailServer_VMIP" value="10.1.9.85" />
    <add key="Default_Others_Email" value="miragelu+0{0}@jobsdb.com" />
    <add key="Default_Others_FirstName" value="mirage" />
    <add key="Default_Others_LastName" value="lu" />
    <add key="Default_Others_JobSeekerId" value="800000000100001" />
    <add key="Others_IntervalId" value="100001" />
    <add key="BathSize" value="100" />
    <!--for jobsdb auth-->
    <add key="Url_Dev_HK_RMS_Index" value="https://v8.dev.rms.jobsdb.com/HK/EN/Emphome/Index" />
    <add key="Url_Dev_HK_JobSeeker_Index" value="https://hk.v8.dev.jobsdb.com/hk/en/MyJobsDB/profile" />
    <add key="AuthenTicketTimeSlotHourNum" value="6" />
    <add key="MaxAuthenTicketCacheSize" value="5000" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <spring>
    <context>
      <resource uri="~/Config/Spring.xml" />
    </context>
    <parsers>
      <parser type="Spring.Data.Config.DatabaseNamespaceParser, Spring.Data" />
    </parsers>
  </spring>
  <common>
    <logging>
      <factoryAdapter type="Common.Logging.Log4Net.Log4NetLoggerFactoryAdapter, Common.Logging.Log4Net">
        <!--choices are INLINE, FILE, FILE-WATCH, EXTERNAL
         otherwise BasicConfigurer.Configure is used   
         log4net configuration file is specified with key configFile-->
        <arg key="configType" value="FILE-WATCH" />
        <arg key="configFile" value="~/Config/Log4Net.xml" />
      </factoryAdapter>
    </logging>
  </common>
  <sqlCode>
    <!--如果BackupFolderPath没设置,则默认为当前文件夹的Backup下-->
    <add key="BackupFolderPath">D:\bkTask\BKFiles\_CSV</add>
    <add key="ExcelPath">D:\workspaces\JobsDBTool\bin\Debug\Resource\InputData.csv</add>
    <add key="GenSqlQueryPath">D:\jobsDBV8\JobsDB.Web.DbMigration\DB_Script\{0}-JobsDB_System-Wording.sql</add>
    <add key="SheetName">Wording</add>
    <add key="TableColumns"><![CDATA[
        <columns>
          <column type="string">InputStatus</column>
          <column type="string">AutoID</column>
          <column type="string">WordingsKey</column>
          <column type="string">GroupId</column>
          <column type="string">CountryCode</column>
          <column type="string">LanguageCode</column>
          <column type="string">WordingsContent</column>
          <column type="string">Comments</column>
        </columns>
      ]]></add>
    <add key="SourceCode">
Select Row_Number() Over (Order By b.LastUserUpdateTime) as AutoID, a.WordingsKey,
	a.GroupId, b.CountryCode, b.LanguageCode,  b.WordingsContent, a.Comments
From JobsDB_System.dbo.ResourceWordings a With(Nolock)
Inner join JobsDB_System.dbo.ResourceWordingsContent b With(Nolock) on a.Id = b.WordingsId
Where b.LastUserUpdateTime Between 
    DateAdd(d, -1, Convert(varchar(100), GetDate(), 23))
    --'2014-1-21' 
    And DateAdd(m, 1, GetDate())
Order by b.LastUserUpdateTime;
    </add>
    <add key="TargetCode1">
/****** Script for assign Id to wordings - Key: @WordingsKey ******/

IF NOT EXISTS (SELECT 1 FROM [JobsDB_System].[dbo].[ResourceWordings] WITH (NOLOCK) WHERE WordingsKey = @WordingsKey)
Begin
    Insert into [JobsDB_System].[dbo].[ResourceWordings] (WordingsKey, GroupId, Comments) VALUES (@WordingsKey, @GroupId, @Comments)
End
    </add>
    <add key="TargetCode2">
/****** Update Wordings - Key: @WordingsKey, CountryCode: @CountryCode, LanguageCode: @LanguageCode ******/

Declare @Id bigint
Set @Id = (SELECT Id FROM [JobsDB_System].[dbo].[ResourceWordings] WITH (NOLOCK) WHERE WordingsKey = @WordingsKey)
If NOT EXISTS (SELECT 1 FROM [JobsDB_System].[dbo].[ResourceWordingsContent] WITH (NOLOCK) WHERE CountryCode = @CountryCode and LanguageCode = @LanguageCode and WordingsId = @Id)
Begin
    Insert into [JobsDB_System].[dbo].[ResourceWordingsContent](WordingsId, LanguageCode, WordingsContent, CountryCode) 
    Values (@Id, @LanguageCode, @WordingsContent, @CountryCode)
End
Else
Begin
    Update [JobsDB_System].[dbo].[ResourceWordingsContent]
    SET WordingsContent = @WordingsContent
    Where WordingsId=@Id And LanguageCode=@LanguageCode And CountryCode=@CountryCode
End
    </add>
    <add key="ClassField"><![CDATA[
<root>
    <class name='EmpJobAdDetailInputData'>
        <field name='PostDate' />
        <field name='ExpiryDate' />
    </class>

    <class name='EmpCompanyInfoInputData'>
        <field name='CompanyName' />
    </class>
</root>
      ]]></add>
    <add key="BackupTaskLastestPath">D:\workspaces\JobsDBTool\bin\Debug\Resource\BackupTask.csv</add>
    <add key="BackupTaskPath">D:\bkTask\BKFiles</add>
    <add key="BackupTaskPythonPath">D:\workspaces\JobsDBTool\bin\Debug\Resource\Python_CopyFile.py</add>
    <add key="BackupTaskBat"><![CDATA[
      @echo off

::python Python_CopyFile.py %*

Set configPath={0}
Set sourceDir={1}
Set targetDir={2}
Set pythonPath="{3}"
Set isComment=False
Set isAddToday=True
Set isBKWording="{4}"
Set wordingFilePath="D:\\workspaces\\JobsDBTool\\bin\\Debug\\Resource\\InputData.csv"

Set LogFile={5}.log
Set TempFile={5}.tmp
Set "RedirectLogCommand=>%TempFile% & type %TempFile% & type %TempFile% > %LogFile%"

echo. %RedirectLogCommand%
echo Copy JobsDB BK to BKFolder... %RedirectLogCommand%
	
If "%isBKWording%" == "True" (
	python %pythonPath% %configPath% %sourceDir% %targetDir% %isComment% %isAddToday% %RedirectLogCommand%
) else (
	python %pythonPath% %configPath% %sourceDir% %targetDir% %isComment% %isAddToday% %isBKWording% %wordingFilePath% %RedirectLogCommand%
)
if ERRORLEVEL 1 goto error
goto eof

:error
ECHO.
ECHO. !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
ECHO. !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
ECHO. !! Hit an error.  Pls check.     !!
ECHO. !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
ECHO. !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
ECHO.
goto eof

:eof
if Exist %TempFile% Del %TempFile%
pause & exit

      ]]></add>
    <add key="OperateDBCheckJobExists">Select Id From JobsDB_{0}..JobAd With(Nolock) Where Id={1}</add>
    <add key="OperateDBCheckCandidateExists">
      Select Id, EmailAddress From JobsDB_Global..JsGlobal_JobSeekerBase With(Nolock) Where Id={0} or EmailAddress=N'{1}'

      Select Id From JobsDB_Global..JsGlobal_JobSeekerBasePastItem With(Nolock) Where Id={0}
    </add>
    <add key="GenAuth_QueryRMS">
      SELECT em.EmployerID, em.AccountNum, em.SubAccount, eup.UserManagementID
      FROM dbo.EmpMast em WITH(NOLOCK)
      INNER JOIN dbo.Emp_UserManagement_Profile eup WITH(NOLOCK) ON em.EmployerID=eup.EmployerID AND eup.UserType=1
      WHERE AccountNum=54047
    </add>
    <add key="DropDownToText"><![CDATA[
      <root>
        <columns name="DBInfo">
          <column name="Dev_55">
            <connStr>Data Source=10.1.9.55;Database=JobsDB_{CountryCode};User Id=sa;Password=P@ssword;Integrated Security=false;</connStr>
            <providerName>System.Data.SqlClient</providerName>
          </column>
          <column name="Dev_50">
            <connStr>Data Source=10.1.9.50;Database=JobsDB_{CountryCode};User Id=sa;Password=P@ssword;Integrated Security=false;</connStr>
            <providerName>System.Data.SqlClient</providerName>
          </column>
          
          <column name="Dev_MyDB">
            <connStr>Server=localhost; Database=mysql; User Id=sa; Password=P@ssword;</connStr>
            <providerName>MySql.Data.MySqlClient</providerName>
          </column>
        </columns>
        
        <columns name="BackupTask_TargetPaths">
          <column name="local">d:\jobsDBv8\</column>
          <column name="vm50">\\10.1.9.50\d\jobsDBv8\</column>
        </columns>
        <columns name="BackupTask_TaskType">
          <column name="NewRMS">NewRMS</column>
          <column name="Normal">Normal</column>
          <column name="Bug">Bug</column>
          <column name="Issue">Issue</column>
        </columns>        
        <columns name="BackupTask_TaskName">
          <column name="Task Name"></column>
          <column name="Deploy_1121">Deploy_1121</column>
          <column name="HotFix">HotFix</column>
          <column name="Temp">Temp</column>
          <column name="Debug">Debug</column>
        </columns>   
                
        <columns name="Others_AccountInfo">
          <column name="Dev_HK.Dev">
            <AccountNum>730</AccountNum>
            <SubAccount>0</SubAccount>
            <EmployerId>100300085</EmployerId>
            <InvoiceItemID>58060</InvoiceItemID>
            <CountryCode>HK</CountryCode>
            <ToCountryCode>HK</ToCountryCode>
            <JobAdId>400000000000001</JobAdId>
            <JobTitle>auto-dev-{1}-{0}</JobTitle>
            <UserManagementId>773</UserManagementId>            
          </column>
          <column name="Demo_HK.Dev">
            <AccountNum>12146</AccountNum>
            <SubAccount>0</SubAccount>
            <EmployerId>-2147473636</EmployerId>
            <InvoiceItemID>58060</InvoiceItemID>
            <CountryCode>HK</CountryCode>
            <ToCountryCode>HK</ToCountryCode>
            <JobAdId>500000000000001</JobAdId>
            <JobTitle>auto-demo-{1}-{0}</JobTitle>
            <UserManagementId>771</UserManagementId>
          </column>
          <column name="lily_HK.Dev">
            <AccountNum>736</AccountNum>
            <SubAccount>0</SubAccount>
            <EmployerId>100300511</EmployerId>
            <InvoiceItemID>58060</InvoiceItemID>
            <CountryCode>HK</CountryCode>
            <ToCountryCode>HK</ToCountryCode>
            <JobAdId>600000000000001</JobAdId>
            <JobTitle>auto-lily-{1}-{0}</JobTitle>
            <UserManagementId>1202</UserManagementId>
          </column>
          <column name="mirage_HK.Test" itemType="Auth">
            <Environment>Test</Environment>
            <AccountNum>13992</AccountNum>
            <SubAccount>0</SubAccount>
            <EmployerId>100324438</EmployerId>
            <CountryCode>HK</CountryCode>
            <ToCountryCode>HK</ToCountryCode>
            <UserManagementId>15732</UserManagementId>
          </column>
          <column name="mandywang_101.Preview" itemType="Auth">
            <Environment>Preview</Environment>
            <EmployerId>100306375</EmployerId>
            <CountryCode>HK</CountryCode>
            <UserManagementId>2295</UserManagementId>
          </column>
        </columns>   
        
        <columns name="SendEmail_EmailDBInfo">
          <column name="JobsDB_EmailDelivery">
            <SqlQuery>
SELECT top 20 ea.Address AS [To], em.Subject, em.Body, eds.DeliveryStatus, eds.utcSendDateTime
FROM JobsDB_EmailDelivery..Email_Address ea WITH(NOLOCK)
INNER JOIN JobsDB_EmailDelivery..Email_Message em WITH(NOLOCK) ON ea.EmailMessageId=em.Id
INNER JOIN JobsDB_EmailDelivery..Email_DeliveryStatus eds WITH(NOLOCK) ON em.Id=eds.EmailMessageId
Order by em.Id desc
           </SqlQuery>
          </column>
        </columns>   
        
        <columns name="SolrUpdate_Cores">          
          <column name="TalentSearch_55">
            <solrUrl>http://10.1.9.50:8983/solr/ts_55_{CountryCode_Lower}</solrUrl>
            <idString>100003000010194, 400000000100001, 400000000200001</idString>
            <solrQueryUrl>http://10.1.0.213:8080/solr/tal-candu-{CountryCode_Lower}/</solrQueryUrl>
            <solrQuery>*:*</solrQuery>
            <xmlFilePath></xmlFilePath>
            <sqlQuery>Select top 10 Id From JobsDB_Global..JsGlobal_JobSeekerBase order by utcLastModifiedTime desc</sqlQuery>
          </column>        
          <column name="TalentSearch_50">
            <solrUrl>http://10.1.9.50:8983/solr/ts_50_{CountryCode_Lower}</solrUrl>
            <idString>100003000010194, 400000000100001, 400000000200001</idString>
            <solrQueryUrl>http://10.1.0.213:8080/solr/tal-candu-{CountryCode_Lower}/</solrQueryUrl>
            <solrQuery>*:*</solrQuery>
            <xmlFilePath></xmlFilePath>
            <sqlQuery>Select top 10 Id From JobsDB_Global..JsGlobal_JobSeekerBase order by utcLastModifiedTime desc</sqlQuery>
          </column>
          <column name="JobAd_55">
            <solrUrl>http://10.1.9.50:8983/solr/jobad_55_{CountryCode_Lower}</solrUrl>
            <idString>100003000010418,100003000010419,</idString>
            <solrQueryUrl>http://202.45.131.63:8080/solr-HD1/{CountryCode}</solrQueryUrl>
            <solrQuery>*:*</solrQuery>
            <xmlFilePath>D:\Normal\SolrOperate\Solr.Update\Resource\JobAdResult.xml</xmlFilePath>
            <sqlQuery>Select top 10 Id From JobAd Where Status=N'A' And CountryCode=N'{CountryCode}' order by utcLastModifiedTime desc</sqlQuery>
          </column>
          <column name="JobAd_50">
            <solrUrl>http://10.1.9.50:8983/solr/jobad_50_{CountryCode_Lower}</solrUrl>
            <idString>100003000010418,100003000010419,</idString>
            <solrQueryUrl>http://202.45.131.63:8080/solr-HD1/{CountryCode}</solrQueryUrl>
            <solrQuery>*:*</solrQuery>
            <xmlFilePath>D:\Normal\SolrOperate\Solr.Update\Resource\JobAdResult.xml</xmlFilePath>
            <sqlQuery>Select top 10 Id From JobAd Where Status=N'A' And CountryCode=N'{CountryCode}' order by utcLastModifiedTime desc</sqlQuery>
          </column>
          <column name="TalentSearch_Old">
            <solrUrl>http://10.1.0.179:8080/solr-TAL/{CountryCode}2</solrUrl>
            <idString>100003000010194, 400000000100001, 400000000200001</idString>
            <solrQueryUrl>http://10.1.0.213:8080/solr/tal-candu-{CountryCode_Lower}/</solrQueryUrl>
            <solrQuery>*:*</solrQuery>
            <xmlFilePath></xmlFilePath>
            <sqlQuery>Select top 10 Id From JobsDB_Global..JsGlobal_JobSeekerBase order by utcLastModifiedTime desc</sqlQuery>
          </column>          
          <column name="TalentSearchStatus_55">
            <solrUrl>http://10.1.9.50:8983/solr/ts_55_{CountryCode_Lower}_status</solrUrl>
            <idString>1,3</idString>
            <solrQueryUrl>http://10.1.0.213:8080/solr/tal-candu-{CountryCode_Lower}status</solrQueryUrl>
            <solrQuery>*:*</solrQuery>
            <xmlFilePath></xmlFilePath>
            <sqlQuery>Select top 10 Id From Emp_TalentStatus order by utcLastModifiedTime desc</sqlQuery>
          </column>
        </columns>        
        
        <columns name="SolrPartialUpdate_Cores">
          <column name="TalentSearch_55">
            <solrUrl>http://10.1.9.50:8983/solr/ts_55_{CountryCode_Lower}</solrUrl>
          </column>
          <column name="TalentSearch_50">
            <solrUrl>http://10.1.9.50:8983/solr/ts_50_{CountryCode_Lower}</solrUrl>
          </column>          
          <column name="JobAd_55">
            <solrUrl>http://10.1.9.50:8983/solr/jobad_55_{CountryCode_Lower}</solrUrl>
          </column>          
          <column name="TalentSearchStatus_Dev">
            <solrUrl>http://10.1.9.55:8080/solr-TalentSearch/{CountryCode}Status</solrUrl>
          </column>
        </columns>  
        
      </root>
      ]]></add>
  </sqlCode>
  <Cryptography symmetricKey="a36400e654eb4d358cf53fb7e351375e2da0a805a39e4182b2508fd4c10dcbbe" symmetricKeyForSmartPhonePlatforms="prexuNUfaCRE7uzAtrUJerERustEsaYaspu3AfRUchajuWebrErenebRaTreGAcR" hashSeed="e4dac67b39fe4430b84b20fdc231080d6dff698ab5824d839f8edb95af3812cc" hashSeedForJobSeekerFullLogin="c5aae9d47bffcaaf84a8c6e7ccacd60a0dd1932be7b1a192b9214b6d4a8c6e7c" hashSeedForJobSeekerPartialLogin="c5aae9d47bffcaaf84a8c6e7ccacd60a0dd1932be7b1a192b9214b6d4a8c6e7c" hashSeedForMobileTicketRrefresh="851cf21c466dcdb9f3bb247b1c958ba69d0edc80bfb4de1f5a6ee8ec8fd48c54" />
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>