<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="spring">
      <section name="context" type="Spring.Context.Support.ContextHandler, Spring.Core" />
      <section name="parsers" type="Spring.Context.Support.NamespaceParsersSectionHandler, Spring.Core" />
    </sectionGroup>
    <sectionGroup name="common">
      <section name="logging" type="Common.Logging.ConfigurationSectionHandler, Common.Logging" />
    </sectionGroup>
    <section name="sqlCode" type="JobsDBTool.IReadConfig, JobsDBTool" />
    <section name="Cryptography" type="JobsDB.Base.Security.Configuration.CryptographyConfigurationSection, JobsDB.Base" />
  </configSections>
  <connectionStrings>
    <clear />
    <add name="SQLite" connectionString="Data Source=JobsDBTool.sqlite;Version=3;" providerName="System.Data.SQLite" />

    <add name="dev_hk" connectionString="Integrated Security=false;Data Source=v8sqlproxy;Database=JobsDBHK;User ID=sa;Password=*****;Application Name=site;" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.data>
    <DbProviderFactories>
      <remove invariant="System.Data.SQLite" />
      <add name="SQLite Data Provider" invariant="System.Data.SQLite" description=".Net Framework Data Provider for SQLite" type="System.Data.SQLite.SQLiteFactory, System.Data.SQLite" />
      <!--<remove invariant="System.Data.SQLite.EF6" />
      <add name="SQLite Data Provider (Entity Framework 6)" invariant="System.Data.SQLite.EF6" description=".Net Framework Data Provider for SQLite (Entity Framework 6)" type="System.Data.SQLite.EF6.SQLiteProviderFactory, System.Data.SQLite.EF6" />-->
    </DbProviderFactories>
  </system.data>
  <appSettings>
    <add key="IsDebug" value="true" />
    <add key="IsDefaultLoaded_Common" value="false" />
    <add key="IsDefaultLoaded_AddWordings" value="true" />
    <add key="IsDefaultLoaded_ClassFieldAbbr" value="false" />
    <add key="IsDefaultLoaded_BackupTask" value="true" />
    <add key="IsDefaultLoaded_OperateDB" value="true" />
    <add key="IsDefaultLoaded_SolrUpdate" value="true" />
    <add key="IsDefaultLoaded_SendEmail" value="false" />
    <add key="IsDefaultLoaded_GenAuth" value="false" />
    <add key="IsDefaultLoaded_ABTesting" value="false" />
    <add key="SendEmail_To" value="miragelu@seekasia.com;2167162@qq.com" />
    <add key="EmailServer_VMIP" value="10.1.9.85" />
    <add key="Default_Others_Email" value="miragelu+0{0}@jobsdb.com" />
    <add key="Default_Others_FirstName" value="mirage" />
    <add key="Default_Others_LastName" value="lu" />
    <add key="Default_Others_JobSeekerId" value="800000000100001" />
    <add key="Others_IntervalId" value="100001" />
    <add key="BathSize" value="100" />
    <!--for jobsdb auth-->
    <add key="Url_Dev_HK_RMS_Index" value="https://v8.dev.rms.jobsdb.com/HK/EN/Emphome/Index" />
    <add key="Url_Dev_HK_JobSeeker_Index" value="https://hk.v8.dev.jobsdb.com/hk/en/MyJobsDB/profile" />
    <add key="AuthenTicketTimeSlotHourNum" value="6" />
    <add key="MaxAuthenTicketCacheSize" value="5000" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <spring>
    <context>
      <resource uri="~/Config/Spring.xml" />
    </context>
    <parsers>
      <parser type="Spring.Data.Config.DatabaseNamespaceParser, Spring.Data" />
    </parsers>
  </spring>
  <common>
    <logging>
      <factoryAdapter type="Common.Logging.Log4Net.Log4NetLoggerFactoryAdapter, Common.Logging.Log4Net">
        <!--choices are INLINE, FILE, FILE-WATCH, EXTERNAL
         otherwise BasicConfigurer.Configure is used   
         log4net configuration file is specified with key configFile-->
        <arg key="configType" value="FILE-WATCH" />
        <arg key="configFile" value="~/Config/Log4Net.xml" />
      </factoryAdapter>
    </logging>
  </common>
  <sqlCode>
    <!--如果BackupFolderPath没设置,则默认为当前文件夹的Backup下-->
    <add key="BackupFolderPath">D:\bkTask\BKFiles\_CSV</add>
    <add key="ClassField"><![CDATA[
<root>
    <class name='EmpJobAdDetailInputData'>
        <field name='PostDate' />
        <field name='ExpiryDate' />
    </class>

    <class name='EmpCompanyInfoInputData'>
        <field name='CompanyName' />
    </class>
</root>
      ]]></add>    
    <add key="GenAuth_QueryRMS">
      SELECT em.EmployerID, em.AccountNum, em.SubAccount, eup.UserManagementID
      FROM dbo.EmpMast em WITH(NOLOCK)
      INNER JOIN dbo.Emp_UserManagement_Profile eup WITH(NOLOCK) ON em.EmployerID=eup.EmployerID AND eup.UserType=1
      WHERE AccountNum={0} And SubAccount={1}
    </add>
    <add key="DropDownToText"><![CDATA[
        <columns name="SendEmail_EmailDBInfo">
          <column name="JobsDB_EmailDelivery">
            <SqlQuery>
SELECT top 20 ea.Address AS [To], em.Subject, em.Body, eds.DeliveryStatus, eds.utcSendDateTime
FROM JobsDB_EmailDelivery..Email_Address ea WITH(NOLOCK)
INNER JOIN JobsDB_EmailDelivery..Email_Message em WITH(NOLOCK) ON ea.EmailMessageId=em.Id
INNER JOIN JobsDB_EmailDelivery..Email_DeliveryStatus eds WITH(NOLOCK) ON em.Id=eds.EmailMessageId
Order by em.Id desc
           </SqlQuery>
          </column>
        </columns>   
      ]]></add>
  </sqlCode>
  <Cryptography symmetricKey="a36400e654eb4d358cf53fb7e351375e2da0a805a39e4182b2508fd4c10dcbbe" symmetricKeyForSmartPhonePlatforms="prexuNUfaCRE7uzAtrUJerERustEsaYaspu3AfRUchajuWebrErenebRaTreGAcR" hashSeed="e4dac67b39fe4430b84b20fdc231080d6dff698ab5824d839f8edb95af3812cc" hashSeedForJobSeekerFullLogin="c5aae9d47bffcaaf84a8c6e7ccacd60a0dd1932be7b1a192b9214b6d4a8c6e7c" hashSeedForJobSeekerPartialLogin="c5aae9d47bffcaaf84a8c6e7ccacd60a0dd1932be7b1a192b9214b6d4a8c6e7c" hashSeedForMobileTicketRrefresh="851cf21c466dcdb9f3bb247b1c958ba69d0edc80bfb4de1f5a6ee8ec8fd48c54" />
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>